<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../base.css" type="text/css">


    <script>
        function start() {
            var xhr = new XMLHttpRequest();
            xhr.open("start", "/", true);
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    location.reload()                }
            }


        }
        function restart() {
            var xhr = new XMLHttpRequest();
            xhr.open("restart", "/", true);
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    location.reload()
                }
            }
        }
        function stop() {
            var xhr = new XMLHttpRequest();
            xhr.open("stop", "/", true);
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    location.reload()
                }
            }
        }
        function checkboxed() {
            var xhr = new XMLHttpRequest();
            xhr.open("checkboxed", "/", true);
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    location.reload()
                }
            }
        }
    </script>
</head>
<body>

<a><h3> Сервис {{ name }}</h3></a>
</body>

<input class="button orange" type="button" onclick="start()" value="Запустить" {{ dis }}><br>
<input class="button orange" type="button" onclick="restart()" value="Перезапустить" {{ dis }}><br>
<input class="button orange" type="button" onclick="stop()" value="Остановить" {{ dis }}><br>
<input type="checkbox" onclick="checkboxed()" {{ ch }}>
</html>
